.about {
  width: 100%;
  /* padding: 60px 40px; */
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.55);

  font-size: clamp(22px, 2vw, 32px);
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Dancing Script", cursive;
}
