.main {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
  margin-top: 90px;
}

/* Desktop */
.leftPart {
  flex: 1.2;
  /* padding: 0 30px; */
}

.rightPart {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column; 
    align-items: center;
  }

  .leftPart {
    width: 100%;
    /* padding: 0 20px; */
  }

  .rightPart {
    width: 100%;
    max-width: 300px;       
    margin-top: 20px;
  }
}
