.content {
  display: flex;
  gap: 32px;
  padding: 80px 120px;
  margin-bottom: 0px;
}

/* Left side: Statement */
.network {
  flex: 0.9;
  display: flex;
}

/* Right side: About */
.us {
  flex: 1.1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    padding: 60px 24px;
  }

  /* Statement on top */
  .network {
    order: 1;
  }

  /* About below */
  .us {
    order: 2;
  }
}
