.heading {
  font-size: clamp(40px, 5vw, 52px);
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif
}

.subheading {
  font-size: 18px;
  color: #b5b5b5;
  max-width: 600px;
  font-weight: 500;
}
