.heading {
  font-size: clamp(36px, 5vw, 48px);
  font-weight: 700;
  /* margin-bottom: 10px; */
  /* margin-top: 10px; */
}

.subheading {
  font-size: 18px;
  color: #b5b5b5;
  max-width: 600px;
  /* margin-bottom: 10px; */
}
