.navbar {
  position: fixed;     
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1000;
  background: radial-gradient(
    circle at top right,
    rgba(15, 61, 46, 0.85),
    rgba(11, 31, 23, 0.85) 55%
  );
  backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
border-bottom: 1px solid rgba(255, 215, 0, 0.15);
border-radius: 20px;


}
.logo img {
  height: clamp(32px, 4vw, 44px);
  width: auto;
  object-fit: contain;
  padding-left: 20px;
}

.home{
  cursor: pointer;
  font-weight: 600;
  color: white;
}

a{
  text-decoration: none;
}

.links {
  display: flex;
  gap: 4rem;
  list-style: none;
  align-items: center;
  padding: 0;
}

.registerBtn {
  font-weight: 600;
  cursor: pointer;
}

.contact{
  cursor: pointer;
  font-weight: 600;
}

.collegeLogo img {
  height: clamp(30px, 5vw, 50px);
  width: auto;
  padding-right: 20px;
}

a {
  all: unset;
  cursor: pointer;
}
.registerBtn,.home,.contact{
  font-size: 20px;
  position: relative;
}

.home::after,
.registerBtn::after,
.contact::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: gold;
  transition: width 0.3s ease;
}

.home:hover::after,
.registerBtn:hover::after,
.contact:hover::after {
  width: 100%;
}


@media (max-width: 768px) {

  .otherInfo {
    width: auto;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .links {
    gap: 1.5rem;
  }

  .logo {
    font-size: 18px;
  }

  .registerBtn,.home,.contact {
    font-size: 15px;
  }
}

@media(max-width: 340px){
  .registerBtn,.home,.contact {
    font-size: 13px;
  }
}