.navbar {
  /* position: fixed;      */
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1000;
}
.logo img {
  height: clamp(32px, 4vw, 44px);
  width: auto;
  object-fit: contain;
  padding-left: 20px;
}

.home{
  cursor: pointer;
  font-weight: 600;
  color: white;
}

.home:hover{
  text-decoration: underline;
}

a{
  text-decoration: none;
}

.links {
  display: flex;
  gap: 4rem;
  list-style: none;
  align-items: center;
  padding: 0;
}

.registerBtn {
  /* padding: 8px 18px; */
  /* border-radius: 20px;
  background-color: #00ff88; */
  /* color: white; */
  font-weight: 600;
  cursor: pointer;
}

.registerBtn:hover{
  text-decoration: underline;
}

.contact{
  cursor: pointer;
  font-weight: 600;
}

.contact:hover{
  text-decoration: underline;
}

.collegeLogo img {
  height: clamp(30px, 5vw, 50px);
  width: auto;
  padding-right: 20px;
}

a {
  all: unset;
  cursor: pointer;
}



@media (max-width: 768px) {

  /* NAVBAR */
  /* .navbar {
    padding: 0 20px;
  } */

  .otherInfo {
    width: auto;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .links {
    gap: 1.5rem;
  }

  .logo {
    font-size: 18px;
  }

  .registerBtn,.home,.contact {
    /* padding: 6px 14px; */
    font-size: 10px;
  }
}

/* @media (max-width: 1024px) {

  .links {
    gap: 40px;
  }

  .hero {
    padding: 0 40px;
  }

  .content h1 {
    font-size: 44px;
  }
} */
