.rightAnim {
  width: 100%;
  height: 420px;
  border-radius: 24px;

  background: linear-gradient(
    120deg,
    #00ff88,
    #0a3d62,
    #1e3799,
    #00ff88
  );

  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
  opacity: 0.85;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
