*{
    margin: 0;
    padding: 0;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
    /* overflow-y: hidden; */
}
body {
  background: radial-gradient(
      circle at top right,
      rgba(0, 255, 136, 0.18),
      transparent 45%
    ),
    linear-gradient(180deg, #05070f, #0b0f1a);
}

