*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100vw;
    height: 100vh;
}
body {
  background: radial-gradient(
      circle at top right,
      rgba(0, 255, 136, 0.18),
      transparent 45%
    ),
    linear-gradient(180deg, #05070f, #0b0f1a);
}
