html, body, #root {
  min-height: 100%;
  color: white;
}

body {
  margin: 0;
  background: radial-gradient(
    circle at top right,
    #0f3d2e,
    #101a1f 60%
  );
  animation: gradientMove 5s ease infinite;

  opacity: 0.85;
  background-size: 200% 200%;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
